db/*.sql
vendor/bundle
vendor/cache
doc/app/
.bundle
db/sphinx/*
coverage*
db/mongo
nbproject
*.stackdump
.sass-cache
*~
.#*
*#
.emacs*
TAGS
dump
public/stylesheets/compiled
.DS_Store
config/database.yml
config/app_config.yml
GPATH
GSYMS
GTAGS
GRTAGS
.open-files
.files
.DS_Store
log/*.log
log/*.pid
tmp/**/*
tmp/*
db/*.sqlite3
log/*.lock
log/*
