// = render "common/flash"
= render :partial=>"common/flash", :object=>flash
= semantic_form_for @twitter  do |form|
  // = form.error_messages
  = form.input :screen_name, :label=>'Twitter', :input_html=>{ :size=>18 }
  = form.action :submit, :as => :button, :label=>'OK'
#loading
%br