#mmenu
  %ul.menu
    = navigation_link( "Блогосфера", ['blog#index', 'articles#index'] , ["blogs#", "articles#"], articles_url )
    = navigation_link( "Твиттеряне", 'twitters#index' , ["twitters#"], twitters_url )
    -#= navigation_link( "Полиметр", ["politics#index"], "politics#*", politics_url )
